
<div class="container">
<div id="main-search" class="container search-form">
	<h3>Immigration record:</h3>
	  <%= form_tag(action="/searchcase/display", method: "get") do %>
	  <%= text_field_tag(:q) %>
	  <%= submit_tag("Search", :class => "search-bar") %>
  <% end %>
  </div>

  <%= will_paginate @return %>
  <table id='table'>
	<td class="record_col">Last Name</td>
	<td class="record_col">First Name</td>
	<td class="record_col">Middle Name</td>
	<td class="record_col">Age</td>
	<td class="record_col">Gender</td>
	<td class="record_col">Port</td>
	<td class="record_col">Date</td>
	<td  class="record_col">Ship</td>
	<td class="record_col">Destination</td>
</tr>
  <% @return.each do |row| %>
	  <td class="record_col">
	  <% if row.LASTNAME.nil? %>
		  <%= link_to("No Lastname in NARA", {:controller => "searchcase", :action => "fullDisplay", :data => row},{:style=>'color:#2E64FE;'}) %>
	  <% else %>
		  <%= link_to(row.LASTNAME, {:controller => "searchcase", :action => "fullDisplay", :data => row},{:style=>'color:#2E64FE;'}) %>
	  <% end %>
	  </td>
	  <td class="record_col"><%= row.FIRSTNAME %></td>
	  <td class="record_col"><%= row.MIDDLENAME %></td>
	  <td class="record_col"><%= row.AGE %></td>
	  <td class="record_col"><%= row.GENDER %></td>
	  <td  class="record_col"><%= row.PORT%></td>
	  <td class="record_col"><%= row.DATE %></td>
	  <td class="record_col"><%= row.SHIP %></td>
	  <td class="record_col"><%= row.DESTINATION %></td></tr>
  <% end %>
  </table>
  <%= will_paginate @return %>
<div class="push"></div>
</div>

  <% if flash[:notice] %>
	  <div class="notice"><%= flash[:notice] %></div>
  <% end %>

</div>

