<div class="container search-form">
	<h3>Immigration record:</h3>
	  <%= form_tag(action="/searchcase/display", method: "get") do %>
	  <%= text_field_tag(:q) %>
	  <%= submit_tag("Search") %>
  <% end %>
  </div>



  <%= will_paginate @return %>
<table id="found_records_table" style="border: 1px; width: 300px;" class="table mt-5">
    <thead class="thead-light">
        <tr>
			<th scope="col">Actions</th>
			<th scope="col">LastName</th>
			<th scope="col">FirstName</th>
			<th scope="col">MiddleName</th>
			<th scope="col">Age</th>
			<th scope="col">Gender</th>
			<th scope="col">Ship</th>
			<th scope="col">Port</th>
			<th scope="col">Date</th>
			<th scope="col">Destination</th>
        </tr>
	</thead>
    <tbody>
        <% @return.each do |row| %>
        <tr>
			<td><%= link_to("Display", {:controller => "searchcase", :action => "fullDisplay", :data => row},{:style=>'color:#2E64FE;'}) %></td>
			<td>
				<%= row.LASTNAME %>
		</td>
			<td><%= row.FIRSTNAME %></td> 
			<td><%= row.MIDDLENAME %></td> 
			<td><%= row.AGE %></td> 
			<td><%= row.GENDER %></td> 
			<td><%= row.SHIP %></td> 
			<td><%= row.PORT %></td> 
			<td><%= row.DATE %></td> 
			<td><%= row.DESTINATION %></td> 
            </tr>
        <% end %>
		</tbody>
    </table>

<%= will_paginate @return %>
<div class="push"></div>
</div>

  <% if flash[:notice] %>
	  <div class="notice"><%= flash[:notice] %></div>
  <% end %>

