
<div class="container">
<div id="main-search" class="container search-form">
	<h3>Immigration record:</h3>
	  <%= form_tag(action="/searchcase/display", method: "get") do %>
	  <%= text_field_tag(:q) %>
	  <%= submit_tag("Search", :class => "search-bar") %>
  <% end %>
  </div>

  <%= will_paginate @return %>
  <table id='table'>
  <td>Last Name</td><td>First Name</td><td>Middle Name</td><td>Age</td><td>Gender</td><td>Port</td><td>Date</td><td>Ship</td><td>Destination</td></tr>
  <% @return.each do |row| %>
  
	  <td>
	  <% if row.LASTNAME.nil? %>
		  <%= link_to("No Lastname in NARA", {:controller => "searchcase", :action => "fullDisplay", :data => row},{:style=>'color:#2E64FE;'}) %>
	  <% else %>
		  <%= link_to(row.LASTNAME, {:controller => "searchcase", :action => "fullDisplay", :data => row},{:style=>'color:#2E64FE;'}) %>
	  <% end %>
	  </td>
	  <td><%= row.FIRSTNAME %></td><td><%= row.MIDDLENAME %></td><td><%= row.AGE %></td><td><%= row.GENDER %></td><td><%= row.PORT%></td>
	  <td><%= row.DATE %></td><td><%= row.SHIP %></td><td><%= row.DESTINATION %></td></tr>
  <% end %>
  </table>
  <%= will_paginate @return %>
<div class="push"></div>
</div>

  <% if flash[:notice] %>
	  <div class="notice"><%= flash[:notice] %></div>
  <% end %>

</div>

