<%= link_to image_tag(asset_path('nara.jpg')),"http://bancroft.berkeley.edu/collections/chinese-immigration-to-the-united-states-1884-1944" %>
</br></br>
<div class="wrapper">

<h2>The Early Arrivals Records Search (EARS)</h2>


<h3 style="margin: 10px; max-width: 800px;" >A dataset from Investigation Arrival Case Files, San Francisco and Hawaii,
	Records of the U.S. Immigration and Naturalization Service, Record Group 85, National Archives at San Francisco
</h3>


<div style="margin: 10px; width: 300px;">
<%= form_tag(action="/searchcase/display", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
</div>

<%= will_paginate @return %>
<table id="found_records_table" style="border: 1px; width: 300px;" class="table mt-5">
    <thead class="thead-light">
        <tr>
			<th scope="col">Actions</th>
			<th scope="col">LastName</th>
			<th scope="col">FirstName</th>
			<th scope="col">MiddleName</th>
			<th scope="col">Age</th>
			<th scope="col">Gender</th>
			<th scope="col">Ship</th>
			<th scope="col">Port</th>
			<th scope="col">Date</th>
			<th scope="col">Destination</th>
        </tr>
	</thead>
    <tbody>
        <% @return.each do |row| %>
        <tr>
			<td><%= link_to("Display", {:controller => "searchcase", :action => "fullDisplay", :data => row},{:style=>'color:#2E64FE;'}) %></td>
			<td>
				<%= row.LASTNAME %>
		</td>
			<td><%= row.FIRSTNAME %></td> 
			<td><%= row.MIDDLENAME %></td> 
			<td><%= row.AGE %></td> 
			<td><%= row.GENDER %></td> 
			<td><%= row.SHIP %></td> 
			<td><%= row.PORT %></td> 
			<td><%= row.DATE %></td> 
			<td><%= row.DESTINATION %></td> 
            </tr>
        <% end %>
		</tbody>
    </table>






<%= will_paginate @return %>
<div class="push"></div>
</div>


<div class="footer">
</br></br>
<h6>
<img src="http://www.lib.berkeley.edu/images/dot_black.gif" alt="" /><a
href="http://www.lib.berkeley.edu/">Library Web</a><img
src="http://www.lib.berkeley.edu/images/dot_black.gif" alt="" /><a
href="http://www.berkeley.edu/">UC Berkeley home</a><img
src="http://www.lib.berkeley.edu/images/dot_black.gif" alt="" />
<!--End bottom menu-->

<!--Begin footer-->

<br /><br />
Copyright &copy;<%= Time.now.year %>
<br />

The Regents of the University of California. <em>All rights
reserved.</em><br />
Questions or problems with these forms: <a
href="mailto:dzuckerm@library.berkeley.edu">dzuckerm@library.berkeley.edu</a>
<br />
Server manager: <a href="http://www.lib.berkeley.edu/Comments/">contact</a>.

</h6>
</div>


