
<div class="container">
<%= link_to "PREVIOUS RESULTS", :back, {:style=>'color:#2E64FE;'} %>
<div class="container">
<h3> Record details below</h3>
<table class="full-display">
<caption>Full immigration record details</caption>
<% @return.each do |row| %>
	<tr><th class="record-detail" scope="row">LastName</th><td><%= row.LASTNAME %></td></tr>
	<tr><th class="record-detail" scope="row">FirstName</th><td><%= row.FIRSTNAME %></td></tr>
	<tr><th class="record-detail" scope="row">MiddleName</th><td><%= row.MIDDLENAME %></td></tr>
	<tr><th class="record-detail" scope="row">Box Number</th><td><%= row.BOXNUMBER %></td></tr>
	<tr><th class="record-detail" scope="row">Series</th><td><%= row.SERIES %></td></tr>
	<tr><th class="record-detail" scope="row">Case Number</th><td><%= row.CASENUMBER %></td></tr>
	<tr><th class="record-detail" scope="row">Ship</th><td><%= row.SHIP %></td></tr>
	<tr><th class="record-detail" scope="row">Port</th><td><%= row.PORT %></td></tr>
	<tr><th class="record-detail" scope="row">Date</th><td><%= row.DATE %></td></tr>
	<tr><th class="record-detail" scope="row">Destination</th><td><%= row.DESTINATION %></td></tr>
	<tr><th class="record-detail" scope="row">Birthplace</th><td><%= row.BIRTHPLACE %></td></tr>
	<tr><th class="record-detail" scope="row">Birthplace City</th><td><%= row.BIRTHPLACE_CITY %></td></tr>
	<tr><th class="record-detail" scope="row">Birthplace State</th><td><%= row.BIRTHPLACE_STATE %></td></tr>
	<tr><th class="record-detail" scope="row">Birthplace City</th><td><%= row.BIRTHPLACE_CITY %></td></tr>
	<tr><th class="record-detail" scope="row">Date of Birth</th><td><%= row.DOB %></td></tr>
	<tr><th class="record-detail" scope="row">Age</th><td><%= row.AGE %></td></tr>
	<tr><th class="record-detail" scope="row">Gender</th><td><%= row.GENDER %></td></tr>
	<tr><th class="record-detail" scope="row">AFilenum</th><td><%= row.AFILENUM %></td></tr>
	<tr><th class="record-detail" scope="row">Class</th><td><%= row.CLASS %></td></tr>
	<tr><th class="record-detail" scope="row">Disposition of Case</th><td><%= row.DISPOSITION_OF_CASE %></td></tr>
	<tr><th class="record-detail" scope="row">Birth Street</th><td><%= row.ST_BORN %></td></tr>
	<tr><th class="record-detail" scope="row">House Number</th><td><%= row.HOUSE_NUM %></td></tr>
	<tr><th class="record-detail" scope="row">Other Last Name</th><td><%= row.OTHERNAMEL %></td></tr>
	<tr><th class="record-detail" scope="row">Other First Name</th><td><%= row.OTHERNAMEF %></td></tr>
	<tr><th class="record-detail" scope="row">Other Middle Name</th><td><%= row.OTHERNAMEM %></td></tr>
	<tr><th class="record-detail" scope="row">Certificate of Residence</th><td><%= row.CERTIFICATE_OF_RESIDENCE %></td></tr>
	<tr><th class="record-detail" scope="row">Certificate of Identity</th><td><%= row.CERTIFICATE_OF_IDENTITY %></td></tr>
	<tr><th class="record-detail" scope="row">Red Eagle Certificate</th><td><%= row.RED_EAGLE_CERTIFICATE %></td></tr>
	<tr><th class="record-detail" scope="row">Court Record</th><td><%= row.COURT_RECORD %></td></tr>
	<tr><th class="record-detail" scope="row">Remarks</th><td><%= row.REMARKS %></td></tr>
	<tr><th class="record-detail" scope="row">Source</th><td><%= row.SOURCE %></td></tr>
	<tr><th class="record-detail" scope="row">Company</th><td><%= row.COMPANY %></td></tr>
	<tr><th class="record-detail" scope="row">Date Entered</th><td><%= row.DATE_ENTERED %></td></tr>
<% end %>
</table>
</div>
</div>