<div id="main-search" class="container search-form">
  <h3>Search immigration records:</h3>
    <%= form_tag(action="/searchcase/display", method: "get") do %>
    <%= label_tag(:q, 'Search records') %>
    <%= text_field_tag(:q, params[:q], placeholder: 'Enter a name to search', aria: { label: 'Search immigration records' }) %>
    <%= submit_tag("Search", :class => "search-bar") %>
<% end %>

<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
</div>











